form>div{
    display:grid;
    grid-template-columns: repeat(2,1fr);
   
 }
 .container{
     margin-top: 40px;
 }

 .container>h1{
    text-align: center;
 }
 
 form{
 
     border-radius: 20px;
     padding: 10px;
     display: block;
     margin: auto;
     width: 40%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
 }
 .bt{
    align-items: center;
    margin: auto;
    display: block;
    width:30%;
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    font-size: large;
 }
 .bt:hover{
    background-color: brown;
   
 }

